a {
    font-weight: bold;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

h2 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

body {
    font-family: 'Times New Roman', serif;
    background-image: url("background.jpg");
}

img {
    height: auto;
    width: 150px;
}

input {
    border-color: #0088cc;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5%;
}

p {
    font-weight: bold;
}

::placeholder {
    color: black;
}

.off {
    color: #ccc;
}

.on {
    color: #0059b3;
}

select {
    border-color: #0088cc;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5%;
}